// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// out colors

$grey-light: #D8D8D8;
$dark-purple : #6229CE;
$light-purple : #934DE6;
$dark-mint: #03BCE1;
$light-mint: #00e8ea;
$dark-orange: #FF5946;
$light-orange: #ff7a46;
