<%= render 'shared/navbar-nana' %>
    <div class="container background">
        <div class="row flex-column justify-content-center align-items-center">
        <%= render 'events/form', event: @event%>
        </div>
    </div>
<%= render 'shared/navigation' %>
