<%= render 'shared/navbar-nana' %>

<div style="display: flex; flex-direction: column; align-items: center;">
  <h3 style="color: #6229CE;">Coming Soon</h3>
  <p style="color: #6229CE; text-align: center;">We are working hard to allow you to organise play dates with your Nanas. We'll let you know as soon as the feature is ready!</p>
</div>

<%= render 'shared/navigation' %>
