<div class="radar-container">
  <div class="radar-head mt-5">
    <h2>Please wait... looking for Nanas nearby</h2>
  </div>
  <div class="radar-gif-box">
  <%= image_tag "radar-nana.svg", class: "radar-gif" %>
  </div>
</div>
