<div class="radar-container">
  <div class="radar-head mt-5">
    <h2>Please wait... we are looking for other parents nearby</h2>
  </div>
  <div class="radar-gif mt-5">
    <%= image_tag "radar-nana.svg" %>
  </div>
</div>
