<form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Profile picture input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  <div class="form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="STATUS" rows="3"></textarea>
  </div>
  <div class="form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="DESCRIPTION" rows="3"></textarea>
  </div>
    <select class="form-control" id="exampleFormControlSelect1" placeholder="NUMBER OF KIDS">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
  </select>
   <div class="form-group">
    <input type="text" class="form-control" id="inputAddress" placeholder="ADDRESS">
  </div>
</form>
