.btn-plus {
  width: 25px;
  height: 25px;
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.btn {
  color: #6229CE;
  font-weight: bold;
}

.btn-sm-bottom {
  color: #6229CE;
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
}

