.btn-plus {
  width: 25px;
  height: 25px;
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.btn {
  color: #6229CE;
  font-weight: bold;
}

.btn-sm-bottom {
  color: #6229CE;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.btn-next {
  color: #6229CE;
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
  border-radius: 25px;
  border: 2px solid #6229CE;
  background: none;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
  padding: 10px 20px;
  width: 300px;
}

.btn-next:focus {
  outline: 0px dotted;
}

.btn-next:active {
  background: #6229CE;
  color: white;
}

.btn-sign-up {
  border-radius: 25px;
  border: 2px solid #6229CE;
  text-align: center;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
  padding: 10px 20px;
  width: 80%;
  margin: 20px auto;
  position: absolute;
  bottom: 35px;
  right: 35px;
  color: #6229CE;
  font-weight: bold;
  a {
    font-size: 16px;
    opacity: 1;
  }
}

.btn-quiz {
  border-radius: 25px;
  border: 2px solid #6229CE;
  text-align: center;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
  padding: 15px 20px;
  width: 80%;
  margin: 10px auto;
  color: #6229CE;
  font-weight: bold;
}
