#send {
  display: none;
}

.back-arrow {
  padding-right: 10px;
  font-size: 2rem;
  color: $dark-purple;
}

.chat {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 85vh;
  z-index: 2;
  box-sizing: border-box;
  border-radius: 1rem;
  background: white;
  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
}

.name-seen {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.pic {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.contact {
  position: relative;
  margin-bottom: 1rem;
  height: 4.5rem;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  box-sizing: border-box;
  align-items: center;
}

.name {
  direction: flex;
  flex-direction: column;
  font-weight: 500;
  margin-bottom: 0.125rem;
}

.seen {
  font-size: 0.9rem;
  color: #999;
}


.contact .badge {
  box-sizing: border-box;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 0.125rem;
  border-radius: 1rem;
  top: 0;
  left: 2.5rem;
  background: #333;
  color: white;
}


.chat .messages {
  padding: 1rem;
  background: #F7F7F7;
  flex-grow: 1;
  //flex-shrink: 2;
  overflow-y: auto;
  box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
}
.chat-day {
  font-size: 0.8rem;
  background: #EEE;
  padding: 0.25rem 1rem;
  border-radius: 2rem;
  color: #999;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.message-time-my {
  font-size: 0.7rem;
  padding: 0.25rem 1rem;
  color: rgb(199, 199, 199);
  margin: 0 auto;
  text-align: right;
}

.message-time-other {
  font-size: 0.7rem;
  padding: 0.25rem 1rem;
  color: rgb(199, 199, 199);
  margin: 0 auto;
  text-align: right;
}


.chat .messages .message {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  margin: 1rem;
  background: #FFF;
  border-radius: 1.125rem 1.125rem 1.125rem 0;
  min-height: 2.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 66%;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
}
.chat .messages .message.my {
  margin: 1rem 1rem 1rem auto;
  border-radius: 1.125rem 1.125rem 0 1.125rem;
  background: $dark-purple;
  color: white;
}
.chat .messages .message .typing {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0rem;
  box-sizing: border-box;
  background: #ccc;
  border-radius: 50%;
}

.chat .input {
  box-sizing: border-box;
  flex-basis: 4rem;
  flex-shrink: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 0.5rem 0 1.5rem;
}
.chat .input i {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #666;
  cursor: pointer;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}
.chat .input i:hover {
  color: #333;
}
.chat .input input {
  border: none;
  background-image: none;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 1.125rem;
  -webkit-box-flex: 2;
          flex-grow: 2;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
  font-family: Red hat Display, sans-serif;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.chat .input input:placeholder {
  color: #999;
}

// contacts

.number-of-messages {
  position: relative;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: $dark-purple;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.conversation .conversation-content {
  flex-grow: 1;
  padding: 0 24px;
}

.conversation p {
  margin: 0;
  line-height: 1.4;
}

.conversation small {
  color: #999999;
  font-weight: bold;
}
.conversation .conversation-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.conversation:hover .conversation-actions {
  opacity: 1;
}

.conversation .conversation-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.conversation .conversation-actions a:hover {
  color: #555555;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}




