event-filter-tabs.container-sign-up {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.profile-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-pic {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.profile-action {
  display: flex;
  justify-content: center;
}

.profile-info-box {
    display: flex;
    align-items: center;
    height: 58px;
    width: 80%;
    position: relative;
    background: white;
    border: 2px solid #6229CE;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    border-radius: 25px;
    justify-content: center;
  }

.profile-info-item {
  display: flex;
  justify-content: center;
  align-items: center;
}



.profile-infos {
  text-align: center;
}

.event-filter-tabs {
  display: flex;
  flex-directon: row;
  flex-wrap: wrap;
  #tagged {
    background-color: $dark-purple;
  }
  .event-selection-tag {
    background-color: $light-purple;
    border-radius: 25px;
    margin-left: 10px;
    font-size: 12px;
    color: white;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  h4 {
    margin-left: 3px;
    margin-right: 3px;
    }
  }
}

.profile-infos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.two-btn-div {
  display: flex;
  flex-direction: column;
}

.card-event-show-friends-participating {
  display: felx;
  flex-direction: column;
}

.card-event-show-friends-participating-profiles {
  display: felx;
  flex-direction: row;
}

.kid-container {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
  border-radius: 25px;
  justify-content: center;
  width: 152px;
  padding: 5px;
}

.description-container {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
  border-radius: 25px;
  justify-content: center;
  width: 80%;
  padding: 5px;
}

.kid img {
  width: 40px;
  margin-right: 5px;
}

.onboarding-header {
  display: flex;
  justify-content: center;
}