.container-sign-up {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-pic {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.profile-action {
  display: flex;
  justify-content: center;
}

.profile-info-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 58px;
    width: 280px;
    position: relative;
    background: white;
    border: 1px solid;
    border-color: $light-purple;
    border-radius: 15px;
}

.label {
    position: absolute;
    top: -10px;
    left: 20px;
    height: 15px;
    width: 60px;
    background-color: white;
    text-align: center;
    font-size: 8px;
}

.profile-info-item {
  margin-left: 20px;
}
