// general

.header {
  margin-bottom: 35px;
}

// simple form input fields

.form-control {
  height: 60px;
  padding: 20px;
  border: 1px solid $dark-purple;
  border-radius: 25px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.form-control:focus {
  color: #353535;
  background-color: #fff;
  border-color:$dark-purple;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(98, 41, 206, 0.25);
}

.form-control.is-valid {
  border-color: #03BCE1;
}

.form-control.is-valid:focus {
  border-color: #03BCE1;
  box-shadow: 0 0 0 0.2rem rgba(98, 41, 206, 0.25);
}

.form-control.is-invalid {
  border-color: #ff7a46;
}

.form-control.is-invalid:focus {
  border-color: #ff7a46;
  box-shadow: 0 0 0 0.2rem rgba(98, 41, 206, 0.25);
}

// checkbox to toggles

/* .custom-control-label:before{
  background-color:red;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:black;
}
 */

// simple form buttons

.form-actions {
  border-radius: 25px;
  border: 1px solid #6229CE;
  text-align: center;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
  margin-top: 67px;
}

.form-actions:active a {
  margin-top: 2px;
}

.form-actions:active {
  bottom: 41px;
}

// feedback

.valid-feedback {
  color: #03BCE1;
}

.invalid-feedback {
  color: #ff7a46;
}