
.onboarding-carousel{
  display: flex;
  text-align: center !important;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

#caroselOnboarding{
  height: 100vh;
  form{
    height: 100vh;

  }

.carousel-item-wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
}

.form-wrapper{
  padding: 25px;
}
