body { overflow-x: hidden}

.onboarding-container {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-y: hidden;
  height: 85vh;
  max-height: 100vh;
  --n: 1;
  width: 100%;
  width: calc(var(--n)*100%);
  transform: translate(calc(var(--i, 0)/var(--n)*-100%));
  transition: transform .5s ease-out;
  position: relative;


.panel {
  min-width: 100vw;
  width: 100vw;
  width: calc(100%/var(--n));
  pointer-events: none;
  }
}


.panel-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: min-content;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.panel-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: min-content;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.panel-3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: min-content;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.panel-text {
  margin-top: 35px;
  color: #6229CE;
  margin-bottom: 25px;
}

.panel-start-text {
  color: #6229CE;
  line-height: 1.8;
}

.panel-text-3 {
  color: #6229CE;
  margin-bottom: 45px;
}

.swipe-dots {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  position: absolute;
  bottom: 55px;
  right: 50%;
  left: 50%;
}

 .fa-circle {
  color: #6229CE;
  opacity: 0.7;
  padding: 3px;
  font-size: 15px;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
    color: #03BCE1; }

#disclaimer-address {
  margin-top: -15px;
  margin-bottom: 1rem;
  font-size: small;
  opacity: 0.7;
  text-align: left;
  margin-left: 15px;
}
