.radar-container{
  top: 90px;
  left: 0px;
  background-color: white;
  z-index: 9998;
  overflow: hidden;
  position:fixed;
  height: 100vh
}

.radar-head {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radar-gif-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radar-gif {
  width: 90vw;
}
